{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "template-curly-spacing": "off",
    "indent": "off",
    "react/require-default-props": 0,
    "react/forbid-prop-types": [
      0
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  },
  "env": {
    "browser": true,
    "jest": true
  }
}